<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyxy.wisdom.mapper.ProductMapper">

    <insert id="insert" parameterType="com.cyxy.wisdom.pojo.Product">
        INSERT INTO product (name,desc,images,create_time,update_time,deleted,version,)
        values  (#{name},#{desc},#{images},#{createTime},#{updateTime},0,1)
    </insert>
</mapper>